MONGODB_URI=mongodb://<username>:<password>@ac-mkzyuty-shard-00-00.h4e4vp8.mongodb.net:27017,ac-mkzyuty-shard-00-01.h4e4vp8.mongodb.net:27017,ac-mkzyuty-shard-00-02.h4e4vp8.mongodb.net:27017/?tls=true&authSource=admin&replicaSet=atlas-xqlhyp-shard-0&retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=gift
